@model MvcWebRole1.Models.PlayerModel

@using MvcWebRole1.Models
@using WordGridGame

@{
    ViewBag.Title = "Hangman";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h2>Games in progress:</h2>
<!-- Show the user's current games if the user is logged in, otherwise show login -->
<ul>
    @{
        if (Model.GetMyTurnGameNames().Length == 0)
        {
            <li><p>None. Select <a href="~/Board/NewGame">New Game</a> to start one!</p></li>
        }
        else
        {
            for (int index = 0; index < Model.GetMyTurnGameNames().Length; index++)
            {
                int[] gameIds = Model.GetMyTurnGameIDs();
                string[] names = Model.GetMyTurnGameNames();
                <li> <a href="~/Board/Play?gameId=@gameIds[index]"> @names[index] </a> </li>
            }
        }
    }
</ul>