<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcWebRole1-20120917184036;Integrated Security=SSPI;AttachDBFilename=C:\myfiles\WordGrid\MvcWebRole1\App_Data\aspnet-MvcWebRole1-20120917184036.mdf" providerName="System.Data.SqlClient" />
    
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=*********.database.windows.net;Database=*******;User ID=******;Password=********;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;"/>-->
  </connectionStrings>
</configuration>
