@model MvcWebRole1.Models.UserModel
@using MvcWebRole1.Models
@{
    ViewBag.Title = "NewGame";
 }
@{
    var model = new UserModel();
}

<h2>Start a Hangman Game</h2>

<p>To create a new game, choose from the following list of opponents:</p>
<ul>
@foreach (UserProfile user in model.Users )
{
    if (user.UserName != User.Identity.Name)
    {
        <li><a href="~/Board/CreateGame?opponentUserId=@user.UserId">@user.UserName</a></li>
    }
}
</ul>